@charset "UTF-8";
:root {
  --bs-gray: #69707a;
  --bs-gray-dark: #363d47;
  --bs-gray-100: #f2f6fc;
  --bs-gray-200: #e0e5ec;
  --bs-gray-300: #d4dae3;
  --bs-gray-400: #c5ccd6;
  --bs-gray-500: #a7aeb8;
  --bs-gray-600: #69707a;
  --bs-gray-700: #4a515b;
  --bs-gray-800: #363d47;
  --bs-gray-900: #212832;
  --bs-primary: #dc392d;
  --bs-secondary: #e0e5ec;
  --bs-success: #00ac69;
  --bs-info: #00cfd5;
  --bs-warning: #f4a100;
  --bs-danger: #e81500;
  --bs-light: #f2f6fc;
  --bs-dark: #212832;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-red: #dc392d;
  --bs-orange: #f76400;
  --bs-yellow: #f4a100;
  --bs-green: #00ac69;
  --bs-teal: #00ba94;
  --bs-cyan: #00cfd5;
  --bs-blue: #0061f2;
  --bs-indigo: #5800e8;
  --bs-purple: #6900c7;
  --bs-pink: #e30059;
  --bs-red-soft: #f0e3e7;
  --bs-orange-soft: #f3e7e3;
  --bs-yellow-soft: #f2eee3;
  --bs-green-soft: #daefed;
  --bs-teal-soft: #daf0f2;
  --bs-cyan-soft: #daf2f8;
  --bs-blue-soft: #dae7fb;
  --bs-indigo-soft: #e3ddfa;
  --bs-purple-soft: #e4ddf7;
  --bs-pink-soft: #f1ddec;
  --bs-primary-soft: #f0e3e7;
  --bs-secondary-soft: #f0f4fa;
  --bs-success-soft: #daefed;
  --bs-info-soft: #daf2f8;
  --bs-warning-soft: #f2eee3;
  --bs-danger-soft: #f1e0e3;
  --bs-primary-rgb: 220, 57, 45;
  --bs-secondary-rgb: 224, 229, 236;
  --bs-success-rgb: 0, 172, 105;
  --bs-info-rgb: 0, 207, 213;
  --bs-warning-rgb: 244, 161, 0;
  --bs-danger-rgb: 232, 21, 0;
  --bs-light-rgb: 242, 246, 252;
  --bs-dark-rgb: 33, 40, 50;
  --bs-red-rgb: 220, 57, 45;
  --bs-orange-rgb: 247, 100, 0;
  --bs-yellow-rgb: 244, 161, 0;
  --bs-green-rgb: 0, 172, 105;
  --bs-teal-rgb: 0, 186, 148;
  --bs-cyan-rgb: 0, 207, 213;
  --bs-blue-rgb: 0, 97, 242;
  --bs-indigo-rgb: 88, 0, 232;
  --bs-purple-rgb: 105, 0, 199;
  --bs-pink-rgb: 227, 0, 89;
  --bs-red-soft-rgb: 240, 227, 231;
  --bs-orange-soft-rgb: 243, 231, 227;
  --bs-yellow-soft-rgb: 242, 238, 227;
  --bs-green-soft-rgb: 218, 239, 237;
  --bs-teal-soft-rgb: 218, 240, 242;
  --bs-cyan-soft-rgb: 218, 242, 248;
  --bs-blue-soft-rgb: 218, 231, 251;
  --bs-indigo-soft-rgb: 227, 221, 250;
  --bs-purple-soft-rgb: 228, 221, 247;
  --bs-pink-soft-rgb: 241, 221, 236;
  --bs-primary-soft-rgb: 240, 227, 231;
  --bs-secondary-soft-rgb: 240, 244, 250;
  --bs-success-soft-rgb: 218, 239, 237;
  --bs-info-soft-rgb: 218, 242, 248;
  --bs-warning-soft-rgb: 242, 238, 227;
  --bs-danger-soft-rgb: 241, 224, 227;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 105, 112, 122;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Metropolis", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: Metropolis, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-bold-font-weight: bold;
  --bs-body-line-height: 1.5;
  --bs-body-color: #69707a;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #e0e5ec;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.35rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #dc392d;
  --bs-link-hover-color: #b02e24;
  --bs-code-color: #e30059;
  --bs-highlight-bg: #fdeccc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.close-icon {
  cursor: pointer;
}
/* Custom styles */
/* Hide element on extra small devices */
.title-bar {
  width: 100%;
  --bs-gutter-x: none;
  align-items: center;
  /* background: linear-gradient(
    90deg,
    rgba(153, 48, 222, 1) 0%,
    rgba(255, 95, 95, 1) 30%,
    rgba(252, 176, 69, 1) 90%
  ); */
  background: linear-gradient(
    90deg,
    rgba(255, 149, 0, 1) 15%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 60%,
    rgba(52, 144, 88, 1) 80%
  );
}

.pocra-logo {
  width: 100px;
  height: auto;
}

.title-logo {
  height: 55px;
  width: 55px;
}

.logo-div {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: center;
}

.title-grid {
  text-align: center;
}

#title {
  color: blue;
}

#sub-title {
  color: black;
}
/* card for PoCRA Juridiction count */
.center {
  text-align-last: center;
}

.proca-count {
  display: block;
  clear: both;
  font-size: 2rem;
  text-align-last: center;
  color: blue;
}

.card_pocra_count {
  --bs-card-spacer-y: 1rem;
  /* --bs-card-spacer-x: 1rem; */
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  /* --bs-card-cap-padding-y: 0.5rem; */
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.card-footer-pocra-count-bg-blue {
  background: #063970;
}
.card-title {
  color: black;
}
.row-eq-height {
  min-height: 31em;
}
/* .pocra-taluka {
  float: left;
} */

/* footer updating date */
#updatedOn {
  color: red;
}

/* For 640 Resolution */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
  /* STYLES GO HERE */
  .sb-topnav .navbar-brand {
    width: auto;
    margin: 0;
  }
  .logo-div {
    display: none;
  }
  .brand-title {
    font-size: small;
  }
  .title-grid #title {
    font-size: 0.8rem;
  }
  .title-grid #sub-title {
    font-size: 0.5rem;
  }
  .cat {
    display: block;
    width: 100%;
  }
}

/* For 1024 Resolution */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  .sb-topnav .navbar-brand {
    width: auto;
    margin: 0;
  }
  .title-grid #title {
    font-size: 1rem;
  }
  .title-grid #sub-title {
    font-size: 0.5rem;
  }
  .title-logo {
    height: 40px;
    width: 40px;
  }
}

/* For 1366 Resolution */
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  /* STYLES GO HERE */
  .sb-topnav .navbar-brand {
    width: auto;
    margin: 0;
  }
  .title-grid #title {
    font-size: 1.2rem;
  }
  .title-grid #sub-title {
    font-size: 0.7rem;
  }
  .title-logo {
    height: 40px;
    width: 40px;
  }
  .pocra-logo {
    width: 4rem;
    height: auto;
  }
  h5,
  .h5 {
    font-size: 0.9rem;
  }

  .accordion-button {
    font-size: small;
  }
  .row-eq-height {
    min-height: 31em;
  }
  .card-title {
    font-size: 0.9rem;
    font-weight: 700;
  }
  .card-description {
    font-size: 0.8rem;
  }
  #forecast-data-table {
    font-size: 0.9rem;
  }
}

/* iframe */
#bannerContainer {
  background: #b7d6b7;
  padding: auto;
}
.banner {
  /*text-align: center;*/
  background-color: transparent;
}
.tabs .nav-link {
  color: black !important;
  font-size: 20px;
}
.tabs .nav-link.active {
  font-weight: bold;
}

/* Check box for status selection */

.cat {
  background-color: #104068;
  border-radius: 1em;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
  padding: 0;
}

.cat label {
  float: left;
  line-height: 3em;
  width: 100%;
  height: 3em;
}

.cat label span {
  text-align: center;
  /* padding: 3px 0; */
  display: block;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.cat label input + span {
  color: #fff;
}

/* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

/*
This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
*/

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.checkbox-checked input:checked + span {
  background-color: #82d44e;
}

.btn-grad {
  text-align: center;
  background: linear-gradient(to right, #1a2980 0%, #26d0ce 100%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn-grad:hover {
  background: linear-gradient(to left, #1a2980 0%, #26d0ce 100%);
}

/* Modal Carasoul Caption */
.carasoul-modal-img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.caption-title,
.popover-text-hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* PopUp Carasoul */
.carasoul-popup-img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.tr-box {
  inline-size: 150px;
  overflow-wrap: break-word;
}
.tbl-bold {
  font-weight: bold;
}

/* Loader animation gif */
.loader {
  content: "";
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #003a14;
  border-bottom: 16px solid #003a14;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Custom Map Styling */
/* Test Page */
.test-map,
/* Dashboard Map */
.administrative-map,
/* weather pages */
.weather-forecast-map,
.weather-realtime-map,
/* dbt pages */
.dbt-farmer-map,
.dbt-nrm-map,
.dbt-fpo-map {
  width: 100%;
  height: 50rem;
  background-color: lightgray;
}

/* Custom Control Styling */
/* Select all p tags that doesn't have the class "highlighted" */
.ol-control button:not(.ol-layerswitcher button) {
  background-color: #5a7fc9;
  font-size: 1.2em;
  font-weight: 700;
  color: #fff;
}

.ol-control.ol-select {
  left: 6em;
}

/* .ol-control.ol-legend {
  bottom: 2.5em;
} */

.ol-scale-bar {
  position: absolute;
  bottom: 2.5em;
  right: 2em;
  left: unset;
}

.ol-legend {
  border: 1px solid black;
}
